@mixin raleway_font ($font-size, $font-weight: 400) {
	font-family: "Raleway", "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: $font-size;
	font-weight: $font-weight;

	-webkit-font-smoothing: antialiased !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}