/*
	*= require_self
*/

@import "_components/mixins/mixin.fonts";
@import "_components/mixins/mixin.styling";
@import '_components/mixins/mixin.forms';
@import '_components/mixins/mixin.buttons';

html, body {
	@include raleway_font(14px, 400);
	height: 100%;

	.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
		font-weight: 300;
	}

	label {
		font-weight: 500;
	}

	.modern-button {
		@include modern_button;
		@include modern_primary_button;
		@include modern_small_button;
		@include modern_round_button;
	}
}