@import "_components/mixins/mixin.fonts";
@import "_components/mixins/mixin.styling";

html, body {
	@include raleway_font(14px, 400);
	height: 100%;

	.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
		font-weight: 300;
	}

	label {
		font-weight: 500;
	}

	.jumbo-background {
		background: url('/images/qennel_cover_cmp.png') no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		position: relative;
		height: 100%;
		height: 100vh;

		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;

		.jumbo-container {
			$container-width: 100%;
			$container-height: 300px;

			top: 50%;
			transform: translateY(-50%);

			width: $container-width;
			position: absolute;
			//top: 20%;
			@include opacity-tint(.7);

			.jumbo-container-content {
				width: 100%;
				color: #FFFFFF;
				padding: 50px;

				input {
					color: #777777;
				}
			}
		}
	}
}